{
    "pg_url": "postgresql://postgres:root@localhost:5432/postgres",
    "pg_username":"postgres",
    "pg_password":"root",
    "pg_host": "postgres",
    "pg_port": "5432",


    "dynamodb_url": "dynamodb://dynamodb:root@localhost:5432/dynamodb",
    "dynamodb_username":"dynamodb",
    "dynamodb_password":"root",
    "dynamodb_host": "dynamodb",
    "dynamodb_port": "5432",
    
}